.Login{
  width: 100%;
   }
  .box-container{
    display:flex;
    flex-direction: column;
    max-width: 24em;
    min-width: 21em;
    box-shadow: 0px 0px 20px 0px rgba(15,15,15,0.2);
    padding: 24px
  }

  .inner-container{
    transition: visibility 0.2s ease-out;
    }

    .inner-container.show{
      visibility: visible;
    }
  
.container {
  width: 100%;
}