SingleProductTheme {
  list-style: none;
  }

.list-group-item{
  border: none;
  font-style: italic;
  display:flexbox;
  font-size: x-small;
}

h5{
color: black;
}

h1{
  text-align: center;
  font-style: italic;
  }